body{
background-color: #86adb8;
}
h1{
color:powderblue;
}
p{
color: yellow;
}


.center{
margin-left:auto;
margin-right:auto;
}

img{
display:block;
width:50px;
height:85px;
width:100px;
}
figcaption {text-align:center;
}
